@media (max-width 1000px) {

}

@media (orientation: landscape) and (max-width: 500px) {
    
}

body{
    im
}
.head{
    border: solid 3px turquoise;
    background-color: turquoise;
    display: flex;
    justify-content: center; 
    font-family: Quicksand, sans-serif;
 
    font-style: oblique;
    letter-spacing: 0.214em;
    /* align-items: center; */
}

.arrow{
 
    border: thin grey 5px;
    background-color: grey;
    height: 10%;
    width: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  
}
ul{
    font-size: 20px;
}

.pic1{
    margin: 0;
    padding: 0;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    background-image: url(https://www.carlisleschools.org/common/pages/UserFile.aspx?fileId=701219);
}

.about{
    font-family: Quicksand, sans-serif;
    font-size: 2em;
    text-align: center;
    color: rgb(65,162,166);
    text-transform: uppercase;
    line-height: 1.4;
    font-weight: 400 bold;
    -webkit-font-smoothing: antialiased;
    padding: 40px;
    letter-spacing: 0.214em;
   
}
.pic2{
    margin: 0;
    padding: 0;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

#head3{
    font-family: Quicksand, sans-serif;
    font-size: 16px;
    text-align: center;
    color:  black;
    text-transform: uppercase;
    line-height: 1.4;
    font-weight: 700 bold;
    -webkit-font-smoothing: antialiased;
    padding: 20px;
    letter-spacing: 0.214em; 
    margin-bottom: 24px;
    
}

.wording{
    font-size: 35px;
    font-weight: 100px;
    font-family: Quicksand sans-serif;
    color: rgb(94, 94, 94);
    overflow-wrap: break-word;
    letter-spacing: normal;
    text-align: center;
    float: right;
    font-style: oblique;
}

.wording2{
    font-size: 30px;
    font-weight: 10px;
    font-family: Quicksand sans-serif;
    color: rgb(94, 94, 94);
    overflow-wrap: break-word;
    letter-spacing: normal;
    text-align: right;
    font-style: oblique;
    display: flex;
    margin: 0;
    padding: 0;
    /* background-color: lightcoral; */
}

.wording3{
    /* background-color: lawngreen; */
    font-style: oblique;
    flex-direction: row;
    margin: 0;
    padding: 25px;
    padding-top: 10px;

}

.container1{
    background-color: rgb(92, 225, 230);
    margin: 0;
    padding: 0;
    font-family: Quicksand, sans-serif;
    font-style: oblique;
    letter-spacing: 0.214em;

    
}
.name{
    background-color: rgb(92, 225, 230);
    color: black;
}

.email{
    background-color: rgb(92, 225, 230);
    color: black;
}

.message{
    background-color: rgb(92, 225, 230);
    
}

.smallb{
    background-color: rgb(92, 225, 230);
    width: 10%;

}



